src/ACRHelix/Foundation/ACR.Foundation.CaseInPointService/Service References/CaseInPointService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCaseData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_3sToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="publishDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCaseDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCaseDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPublishDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_3sToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CaseId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPublishDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPublishDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_3sUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_3sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCaseDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetCaseData" />
  </wsdl:message>
  <wsdl:message name="GetCaseDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetCaseDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetPublishDate" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetPublishDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="GetTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetCaseDataHttpGetIn">
    <wsdl:part name="_3sToken" type="s:string" />
    <wsdl:part name="publishDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateHttpGetIn">
    <wsdl:part name="_3sToken" type="s:string" />
    <wsdl:part name="CaseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetIn">
    <wsdl:part name="_3sUserName" type="s:string" />
    <wsdl:part name="_3sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseDataHttpPostIn">
    <wsdl:part name="_3sToken" type="s:string" />
    <wsdl:part name="publishDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCaseDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateHttpPostIn">
    <wsdl:part name="_3sToken" type="s:string" />
    <wsdl:part name="CaseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPublishDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostIn">
    <wsdl:part name="_3sUserName" type="s:string" />
    <wsdl:part name="_3sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetCaseData">
      <wsdl:input message="tns:GetCaseDataSoapIn" />
      <wsdl:output message="tns:GetCaseDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <wsdl:input message="tns:GetPublishDateSoapIn" />
      <wsdl:output message="tns:GetPublishDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenSoapIn" />
      <wsdl:output message="tns:GetTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="GetCaseData">
      <wsdl:input message="tns:GetCaseDataHttpGetIn" />
      <wsdl:output message="tns:GetCaseDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <wsdl:input message="tns:GetPublishDateHttpGetIn" />
      <wsdl:output message="tns:GetPublishDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpGetIn" />
      <wsdl:output message="tns:GetTokenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="GetCaseData">
      <wsdl:input message="tns:GetCaseDataHttpPostIn" />
      <wsdl:output message="tns:GetCaseDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <wsdl:input message="tns:GetPublishDateHttpPostIn" />
      <wsdl:output message="tns:GetPublishDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input message="tns:GetTokenHttpPostIn" />
      <wsdl:output message="tns:GetTokenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseData">
      <soap:operation soapAction="http://tempuri.org/GetCaseData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <soap:operation soapAction="http://tempuri.org/GetPublishDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCaseData">
      <soap12:operation soapAction="http://tempuri.org/GetCaseData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <soap12:operation soapAction="http://tempuri.org/GetPublishDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap12:operation soapAction="http://tempuri.org/GetToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCaseData">
      <http:operation location="/GetCaseData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <http:operation location="/GetPublishDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCaseData">
      <http:operation location="/GetCaseData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishDate">
      <http:operation location="/GetPublishDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <http:operation location="/GetToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://3s.acr.org/cipcmewebservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://3s.acr.org/cipcmewebservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="https://3s.acr.org/cipcmewebservice/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="https://3s.acr.org/cipcmewebservice/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>